*{
    font-family: "SFProDisplay",sans-serif !important;
}
.container{
    max-width: 1240px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.navbar-nav .nav-item a{
    color: black;
    font-weight: 600;
}
.navbar-nav .nav-item{
  padding: 0 20px;
}
.navbar{
    display: flex;
   align-items: center;

}
.navbar-toggler .burger{
    display: grid;
}
.navbar-toggler .burger span{
    height: 10px;

}